/* Universal stuff */
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
    font-family: var(--font-body);
}
/*#2080ff*/
:root {
	--white-color: #eee;
	--white-color-semi-transparent: rgba(255, 255, 255, 0.95);
	--white-color-transparent: rgba(255, 255, 255, 0.75);
	--black-color: #000;

	--first-color: #2080ff;
	--second-color: #ff660b;
	--third-color: #ffdf6a;
	--fourth-color: #FB4B4E;

	/* Alternative 1 color palette
	--first-color: #4ECDC4;
	--second-color: #C7F464;
	--third-color: #FF6B6B;
	--fourth-color: #C44D58;
	*/
	--font-body: "Raleway", sans-serif;
	--font-heading: "Raleway", sans-serif;
}
body {
	display: inline-block;
	float: left;
    margin: 0 !important;
    padding: 0 !important;
}
h1{
	font-size: 50px;
	font-weight: lighter;
}
h1.section-title{
	font-family: var(--font-heading);
	font-size: 65px;
	height: 66px;
	font-weight: normal;
	margin-bottom: 20px !important;
	width: 100%;
	text-align: left;
	text-indent: 10%;
	border-bottom: 1px solid;
	overflow: visible !important;
}
h2{
	font-size: 30px;
	font-weight: normal;
}
h3{
	font-size: 26px;
}
.filler{
	display: inline-block;
	float: left;
	width: 100%;
	height: 50px;
	overflow: hidden;
	/*border-bottom: 4px solid var(--black-color);
	border-top: 4px solid var(--black-color);*/
}


.filler div{
	width: 5vw;
	height: 50px;
	float: right;
}

.color1{
	background-color: var(--first-color);
}
.color2{
	background-color: var(--second-color);
}
.color3{
	background-color: var(--third-color);
}
.color4{
	background-color: var(--fourth-color);
}
.background{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url('../images/backgrounds/pattern223.svg');
	background-position: center;
    background-size: 50%;
}

/* 
	Navbar 
*/
header{
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding:0;
	width: 100%;
	height: 50px;
	z-index: 10;
	color: var(--black-color);
	background-color: var(--white-color-transparent);
}

.navbar{
	width: 80%;
	height: 100%;
	list-style-type:none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 0;
	padding:0;
	overflow: visible;
}

.navbar li{
	width: calc(100% / 6);
	max-width: 1000px;
	height: 100%;
	float: left;
	overflow: hidden;
	transition: height 0.5s ease;
}

.navbar li a{
	width: 100%;
	height: 50px;
	font-size: 2.5vw;
	font-weight: normal;
	display:block;
	cursor: pointer;
	text-align: center;
	transition: 0.2s ease;
	display: flex;
	color: var(--black-color);
	justify-content: center; /* align horizontal */
	align-items: center;
	text-decoration: none;
}

.navbar svg{
	margin: 5px;
	height: 40px;
	width: 40px;
	fill: currentColor;
	float: left;
	display: block;
}

li.contact-burger:hover{
	height: 200px;
}

.contact-burger .secondary-link{
	background-color: var(--white-color-transparent);
	color: var(--second-color);
}

.expander{
	color: var(--second-color) !important;
	height: 46px !important;
	border-bottom: 4px solid var(--second-color);
}

.expander:hover{
	color: var(--black-color) !important;
}

.secondary-link p{
	float: left;
	font-size: 1.9vw;
	display: block;
	margin-left: 0px;
	margin-right: auto;
}

.contact-burger .secondary-link:hover{
	color: var(--black-color);
}

.navbar li a:hover{
	color: var(--first-color);
}
.navbar-selected{
	height: calc(100% - 4px) !important;
	color:var(--first-color) !important;
	border-bottom: 8px solid var(--first-color);
}
.toggle-left{
	display: block;
	float: left;
	font-size: 30px;
	line-height: 200%;
	width: 50px;
	overflow: hidden;
	height: 100%;
	border-left: 5px solid var(--first-color);
	border-right: 45px solid var(--black-color);
	transition: border 0.3s linear;
}
.toggle-right{
	display: block;
	float: left;
	font-size: 30px;
	line-height: 200%;
	width: 50px;
	overflow: hidden;
	height: 100%;
	border-left: 45px solid var(--black-color);
	border-right: 5px solid var(--first-color);
	transition: border 0.3s linear;
}
.toggle-inside{
	position: absolute;
	z-index: -1;
	left: 5;
}
/* 
	Header
*/
.header-filler{
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding:0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.header-filler .color1,
.header-filler .color2,
.header-filler .color3,
.header-filler .color4,
footer .color1,
footer .color2,
footer .color3,
footer .color4{
	position: absolute;
	bottom: 0px;
	height: 50px;
	width: 5vw;
}

.header-filler .color1,
footer .color1{
	right: 15vw;
}

.header-filler .color2,
footer .color2{
	right: 10vw;
}
.header-filler .color3,
footer .color3{
	right: 5vw;
}
.header-filler .color4,
footer .color4{
	right: 0;
}
.mast{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.header-filler h1{
	font-size: 90px;
	font-family: var(--font-heading);
	margin :0;
}
.header-filler h2{
	transition: 0.5s linear opacity;
	font-size: 40px;
}

.transparent{
	opacity: 0;
	transition: 0.5s linear opacity;
}

.opaque{
	opacity: 1;
	transition: 0.5s linear opacity;
}
/* Content stuff */
.section{
	display: inline-block;
	float: left;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 10px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	background-color: var(--white-color-semi-transparent);
	color: var(--black-color);
}
.section .horizontal-seperator{
	display: inline-block;
	float: left;
	background-color: var(--black-color);
	height: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	width: 0;
}
.section ul{
	list-style-type: none;
	padding: 12px;
}
.section li{
	font-size: 20px;
}
img.profile{
	max-width: 300px;
	border-radius: 50%;
	box-shadow: 0 0 0px 2px var(--black-color);
}
.section h1, .section h2, .section h3{
	margin: auto;
	overflow: visible;
}

.section p{
	font-size: 24px;
}

.section-content{
	display: inline-block;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
}

.section-content h2{
	font-weight: bold;
	display: inline-block;
	float: left;
	padding-right: 12px;
	width: 30%;
	text-align: right;
}
.section-content-sub{
	display: inline-block;
	float: left;
	text-align: left;
	padding-left: 12px;
	width: 67%;
	border-left: 1px solid;
}
.section-content p{
	margin: 0;
}
.fake-h3{
	font-size: 1.17em;
    font-weight: bold;
}
p.slightly-smaller{
	font-size: 20px;
}
.section a{
	color: var(--second-color);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.5s ease;
}
.section a:hover{
	color: black;
}
.style2{
	color: var(--white-color);
	background-color: var(--first-color);
}
.section.style2 a:hover{
	color: white;
}
.style2 .horizontal-seperator{
	background-color: var(--black-color);
}
.skills{
	display: inline-block;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.skills h1, .skills h2, .skills h3{
	font-weight: bold;
	margin: 0;
	overflow: hidden;
}
.skill-set{
	width: 49%;
	height: 210px;
	margin-top: 40px;
	display: inline-block;
	float: left;
}
.skills .vertical-seperator{
	display: inline-block;
	float: left;
	background-color: var(--black-color);
	height: 120px;
	margin-top: 110px;
	margin-bottom: 20px;
	width: 1px;
}
.skills .horizontal-seperator{
	display: inline-block;
	float: left;
	background-color: var(--black-color);
	height: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
}
.skill-set h2{
	width: 100%;
	height: 50px;
	margin-top: 0;
	margin-bottom: 0;
}
.skill-set table{
	color: var(--black-color);
	width: 100%;
	font-size: 22px;
	text-align: center;
	height: 160px;
}
.skill-set td{
	width: 50%;
}
.skill-set ul{
	padding: 0;
	width: 80%;
	margin: auto;
}
.skill-set ul li{
	display: inline-block;
	float: left;
	width: 50%;
}
.skill-set ul li{
	display: inline-block;
	float: left;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.skill-set ul li ul li{
	display: inline-block;
	float: left;
	width: 50%;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*
	Footer
 */
footer{
	position: relative;
	background-color: #222 !important;
	border-bottom: 0px !important;
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	border-top: 0px !important;
}
footer .container{
	display: inline-block;
	width: 80%;
	max-width: 800px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.contact ul{
	display: inline-block;
	width: 100%;
	padding: 0;
	list-style-type: none;
}
.contact li{
	display: inline-block;
}
footer p{
	font-size: 20px !important;
}
.vertical-seperator{
	display: inline-block;
	float: left;
	background-color: var(--white-color);
	width: 1px;
	height: 88px;
}
.left{
	display: inline-block;
	float: left;
	margin-top: auto;
	width: calc(50% - 1px);
}
.right{
	display: inline-block;
	float: left;
	margin-top: auto;
	width: 50%;
}
footer a svg{
	margin-left: 10px;
	margin-right: 10px;
	height: 64px;
	width: 64px;
	fill: currentColor;
}

@media only screen and (max-device-width: 480px) {
	header{
		height: 100px;
	}
	.background{
	    background-size: 100%;
	}
	.navbar{
		width: 100%;
		height: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
	.navbar li a{
		height: 100px;
		font-size: 36px;
		font-weight: bold;
	}
	.section .horizontal-seperator{
		display: inline-block;
		float: left;
		background-color: var(--black-color);
		height: 1px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 30%;
		margin-right: 30%;
		width: 40%;
	}
	.skill-set{
		width: 100%;
		height: initial;
	}
	.skill-set table{
		font-size: 30px;
		border: 1px solid var(--black-color);
	}
	.skills .vertical-seperator{
		width: 0;
		height: 0;
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.skills .horizontal-seperator{
		width: 0;
		height: 0;
		margin-right: 0;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.vertical-seperator{
		width: 40%;
		height: 1px;
		margin-right: 30%;
		margin-left: 30%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	footer p{
		font-size: 30px !important;
	}
	.left{
		float: none;
	}
	.right{
		float: none;
	}
	footer .container{
		height: initial;
	}
	.header-filler{
		height: 500px;
	}
	.header-filler h1{
		font-size: 90px;
	}
	.header-filler h2{
		font-size: 40px;
	}
	.section-content{
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}
	.section-content-sub{
		display: inline-block;
		float: left;
		text-align: center;
		padding-left: 0;
		width: 100%;
		border-left: 0;
	}
	.section-content h2{
		font-weight: bold;
		padding-right: 0;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 40px;
	}

	.navbar svg{
		margin: 5px;
		height: 90px;
		width: 90px;
		fill: currentColor;
	}

	li.contact-burger:hover{
		height: 400px;
	}

	.expander{
		height: 96px !important;
	}

	.secondary-link p{
		font-size: 0;
		display: block;
		width: 0;
		height: 0;
		margin-left: 0;
		margin-right: 0;
	}
}