<html>
<head>
 	<link rel="shortcut icon" type="image/x-icon" href="logo.ico" />
	<link rel="stylesheet" type="text/css" href="css/waelCV.css">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/angular-scroll.min.js"></script>
	<script src="js/p5.min.js"></script>
	<script src="js/CV.js">	</script>

	<!-- <script src="js/snakeGame.js"></script>
	<script src="js/sketch.js"></script> -->

	<title>Wael Ben Dhia CV</title>
</head>

<body ng-app="cvModule" ng-controller="controller" scroll id="page">
	<header>
		<!--<a ng-click="toggleLanguage()" class="{{langToggler}}">
			<div class="toggle-inside">EN FR</div>
		</a>-->
  		<ul id='navbar' class="navbar">
  			<li><a class="{{selectedHome}}" ng-click="updateSelectedSection(-1)">Home</a></li>
			<li><a class="{{selectedAbout}}" ng-click="updateSelectedSection(0)">About Me</a></li>
			<li><a class="{{selectedSkills}}" ng-click="updateSelectedSection(1)">Skills</a></li>
			<li><a class="{{selectedEducation}}" ng-click="updateSelectedSection(2)">Education</a></li>
			<li><a class="{{selectedProjects}}" ng-click="updateSelectedSection(3)">Projects</a></li>
			<li class="contact-burger">
				<a class="expander" >Contact</a>
				<a class="secondary-link" href="mailto:wael.bendhia@esprit.tn" title="Email"><svg viewBox="0 0 64 64"><use x="0" y="0" width="0" height="0" xlink:href="images/logo/email.svg#path7"></use></svg><p>Email</p></a>
				<a class="secondary-link" href="https://github.com/WaelBenDhia/" title="GitHub"><svg viewBox="0 0 64 64"><use x="0" y="0" width="0" height="0" xlink:href="images/logo/github.svg#path16"></use></svg><p>GitHub</p></a>
				<a class="secondary-link" href="https://www.facebook.com/wael.dhia" title="Facebook"><svg viewBox="0 0 64 64"><use x="0" y="0" width="0" height="0" xlink:href="images/logo/facebook.svg#path4160"></use></svg><p>Facebook</p></a>
			</li>
		</ul>
	</header>
	<div class="background"></div>
	<div id="Home" class="header-filler style2">
		<div class="mast">
			<h1>Wael Ben Dhia</h1>
			<h2 class="{{thingsOpacity}}">{{thingsAboutMe}}</h2>
		</div>
		<div class="color4"></div>
		<div class="color3"></div>
		<div class="color2"></div>
	</div>
<!--############################## HERE BE ABOUT ##############################-->
	<div id="About" class="section">
		<h1 class="section-title">About Me</h1>
		<img src="images/profile.jpg" alt="Photo" class="profile">
		<div ng-repeat="section in aboutMe" class="section-content">
			<h2>{{section.title}}</h2>
			<span class="horizontal-seperator"></span>
			<div class="section-content-sub">
				<p ng-bind-html="section.content"></p>
			</div>
		</div>
	</div>
<!--############################## HERE BE SKILLS ##############################-->
	<div class="filler color2" >
		<div class="color1"></div>
		<div class="color4"></div>
		<div class="color3"></div>
	</div>
	<div id="Skills" class="section">
		<h1 class="section-title">Skills</h1>
		<div class="skills">
			<div class="skill-set">
				<h2>Programming Languages</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td><h3>Advanced</h3></td>
						<td><h3>Intermediate</h3></td>
					</tr>
					<tr>
						<td>Java, C#, C++</td>
						<td>C, Php, Clojure, Scala</td>
					</tr>
					<tr>
						<td colspan="2"><h3>Basic</h3></td>
					</tr>
					<tr>
						<td colspan="2">Scheme, VBA</td>
					</tr>
				</table>
			</div>
			<span class="vertical-seperator"></span>
			<div class="skill-set">
				<h2>Frameworks</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td>Java Enterprise Edition</td>
						<td>Java Server Faces</td>
					</tr>
					<tr>
						<td>.Net</td>
						<td>ASP.Net</td>
					</tr>
					<tr>
						<td>Symfony</td>
						<td>AngularJS</td>
					</tr>
				</table>
			</div>
			<div class="skill-set">
				<h2>Web Technologies</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td>HTML</td>
						<td>CSS</td>
					</tr>
					<tr>
						<td colspan="2">Javascript</td>
					</tr>
				</table>
			</div>
			<span class="vertical-seperator"></span>
			<div class="skill-set">
				<h2>Mobile and Desktop Apps</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td>Java SWING</td>
						<td>Android</td>
					</tr>
					<tr>
						<td colspan="2">Windows Presentation Foundation</td>
					</tr>
				</table>
			</div>
			<div class="skill-set">
				<h2>Database</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td><h3>SQL</h3></td>
						<td><h3>NoSQL</h3></td>
					</tr>
					<tr>
						<td>Oracle, MySQL, Microsoft SQL</td>
						<td>Hbase, Hive</td>
					</tr>
				</table>
			</div>
			<span class="vertical-seperator"></span>
			<div class="skill-set">
				<h2>Languages</h2>
				<span class="horizontal-seperator"></span>
				<table>
					<tr>
						<td>English Fluent</td>
						<td>French Fluent</td>
					</tr>
					<tr>
						<td colspan="2">Arabic Native</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<!--############################## HERE BE EDUCATION ##############################-->
	<div class="filler color3" >
		<div class="color2"></div>
		<div class="color1"></div>
		<div class="color4"></div>
	</div>
	<div id="Education" class="section">
		<h1 class="section-title">Education</h1>

		<div ng-repeat="edu in education" class="section-content">
			<h2>{{edu.time}}</h2>
			<span class="horizontal-seperator"></span>
			<div class="section-content-sub">
				<h3>{{edu.title}}</h3>
				<p class="slightly-smaller">{{edu.school}}</p>
			</div>
		</div>
	</div>
<!--############################## HERE BE PROJECTS ##############################-->
	<div class="filler color4" >
		<div class="color3"></div>
		<div class="color2"></div>
		<div class="color1"></div>
	</div>
	<div id="Projects" class="section">
		<h1 class="section-title">Projects</h1>
		<div ng-repeat="project in projects" class="section-content">
			<h2>{{project.title}}</h2>
			<span class="horizontal-seperator"></span>
			<div class="section-content-sub">
				<p>{{project.description}}</p>
				<ul>
					<li ng-repeat="element in project.elements">{{element}}</li>
				</ul>
			</div>
		</div>
	</div>
	<footer class="section style2">
		<div class="container">
			<div class="left">
				<p>Coded and designed by myself.
				<br>Source hosted on <a href="https://github.com/WaelBenDhia/WaelBenDhia.github.io" title="GitHub">GitHub</a></p>
			</div>
			<span class="vertical-seperator"></span>
			<div class="right">
				<p>Email icon made by <a href="http://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
			</div>
		</div>
		<h2>Thanks for visiting!</h2>
	</footer>
</body>
</html>